.no-fill {
  fill: none !important;
}

.check-button {
  z-index: 200;
  padding: 2%;
  background-color: rgba(53, 59, 65, 0.8);
  color: white;
  position: absolute;
  height: 10%;
  aspect-ratio: 1 / 1;
  border-radius: 10%;
  top: 30%;
  left: 5%;
}

@media (hover: hover) and (pointer: fine) {
  .check-button {
    top: 11%;
    right: 7%;
    left: unset;
    display: none;
    height: 15%;
  }
  .card-grid-item:hover .check-button {
    display: inline;
  }
}

.cards-in-deck {
  font-weight: 500;
  color: #634496;
  margin-left: 8px;
}

.clipboard-bar {
  background-color: #f6f4fa;
  padding: 8px 2.5%;
  font-size: 12px;
  color: #535353;
  border-bottom: 1px solid rgba(99, 68, 150, 0.1);
  align-items: center;
  justify-content: center;
  display: flex;
}
